h2{
  text-align: center;
}

body{
  background-color: rgb(73, 73, 73);
  color:white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
  text-align: center;
  font-size: large;
  border-radius: 5px;
  height: 25px;
}

.navLink{
  border: 3px solid;
  padding: 3px;
  background: #696969;
  margin: 3px;
  color: rgb(152, 0, 0);
}

ul{
  background-color: #696969;
  border-radius: 5px;
  padding-bottom: 10px;
}