body{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkblue;
}

input[type=text], input[type=email], input[type=password], input[type=number]{
    background-color: rgb(148, 255, 255);
}

input[type=button]{
    background-color: rgb(27, 209, 27);
    color: white;
    border-radius: 3px;
}
