body{
    background-color: rgb(165, 248, 167);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(8, 130, 12);
}
form{
    background-color: rgb(222, 249, 216);
    border-radius: 5px;
}

input[type=text], input[type=email], input[type=password], input[type=number]{
    background-color: rgb(190, 255, 192);
}

input[type=button]{
    background-color: rgb(27, 209, 27);
    color: white;
    border-radius: 3px;
}
